:root {
    --white: #fff;
    --orange: #f36c00;
    --black: #000;
  }
  /*
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  */
  .carousel-inner1 button {
    cursor: pointer;
    font-size: 16px;
    color: white;
  }

  button.active {
      font-size: 16px;
      color: wheat;
  }

  .carousel-item1 {
    position: relative;
    display: block;
  }


  img {
    max-width: 100%;
  }

  /* .con400 {
    width: 400%!important;
    position: relative;
    top: -100px;
    left: 0px;
    z-index: 1000;
  } */

  /* .con500 {
    width: 400%!important;
    position: relative;
    top: -100px;
    right: -100%;
    z-index: 1000;
  } */

  /* .con600 {
    width: 400%!important;
    position: relative;
    top: -100px;
    right: 0%;
    z-index: 1000;
  } */

  /* .sideStickBar {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    padding: 50px;
    top: 0%;
    left: 0%;
    font-size: 20px;
    padding: 50px;
    max-height: 500px;
    height: 500px;
    background-color: #c3996c;
  } */

  /* .sideStickBar1 {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    padding: 50px;
    top: 0%;
    left: -100%;
    font-size: 20px;
    padding: 50px;
    max-height: 500px;
    height: 500px;
    background-color: #c3996c;
  } */

  /* .sideStickBar2 {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    padding: 50px;
    top: 0%;
    right: -2%;
    font-size: 20px;
    padding: 50px;
    max-height: 500px;
    height: 500px;
    background-color: #c3996c;
  } */
  
  .outer-container {
    /* position: relative;
    max-width: 800px;
    margin: auto;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden; */
  }

  .outer-container-mobile1 {
    display: flex;
    flex-direction: column !important;
  }
  
  .outer-container1 > div {
    flex: 1;
    /* padding: 20px; */
  }
  
  .outer-container1 > div.content1 {
    padding: 0px;
  }
  
  .outer-container1 .carousel-wrapper1 {
    background: #060606ab;
    display: flex;
    flex-direction: column;
  }
  
  .carousel-wrapper1 {
    position: absolute;
    width: 86.5%;
    max-height: 100px;
    /* height: 400px; */
    bottom: 0;
  }
  
  .outer-container1 .carousel-wrapper1 p,
  .carousel-item1 {
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    line-height: 1.3;
  }
  
  .outer-container1 .content1 {
    max-width: 100%;
    background: var(--white);
  }
  
  .outer-container1 .content1 img {
    width: 100%;
    padding:0px;
    height: 290px;
    background: var(--white);
  }
 
  
  .carousel1 {
    /* height: 100%;
display: flex;
flex: 5 1;
align-items: end;
color: var(--white); */
  }
  
  .carousel-button1 {
    display: flex;
    align-self: flex-end;
    padding: 0px;
    max-width: 50px;
    border-radius: 30px;
    background: var(--orange);
    border: 2px solid var(--white);
  }
  
 
  .carousel-button1 path {
    fill: var(--white);
  }
  
  .slides1 {
    /* align-self: auto;
    flex: 1;
    min-width: 100%;
    overflow: hidden; */
  }
  
  .carousel-inner1 {
    position: relative;
    max-height: 250px;
    height: 200px; 
    bottom: 10;
  }
  
  .carousel-inner1::before,
  .carousel-inner1::after {
    /* content: "";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 110px;
    pointer-events: none; */
  }
  
  .carousel-inner1::before {
    /* top: 0; */
    /* background: linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 0) 0%,
      hsl(27.1, 61.3%, 23.3%) 100% 
    ); */
  }
  
  .carousel-inner1::after {
    /* bottom: 0; */
    /* background: linear-gradient(
      0deg,
      hsl(27.1, 61.3%, 23.3%) 0% ,
      hsla(0, 0%, 100%, 0) 100%
    ); */
  }
  
  .carousel-item1 {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    top: 52px;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }
  
  .carousel-item1.visible {
    opacity: 1;
  }

  /* @media screen and () {
    
  } */
  